[submodule "src/3rdParty/OndselSolver"]
	path = src/3rdParty/OndselSolver
	url = https://github.com/FreeCAD/OndselSolver.git
[submodule "tests/lib"]
	path = tests/lib
	url = https://github.com/google/googletest
[submodule "src/3rdParty/GSL"]
	path = src/3rdParty/GSL
	url = https://github.com/microsoft/GSL
[submodule "src/mod/ArchiModule"]
	path = src/mod/ArchiModule
	url = https://github.com/touch-topnotch/ArchiModule.git
[submodule "src/Mod/AddonManager"]
	path = src/Mod/AddonManager
	url = https://github.com/FreeCAD/AddonManager.git
[submodule "src/Mod/ArchiModule"]
	path = src/Mod/ArchiModule
	url = https://github.com/touch-topnotch/ArchiModule.git
